<!DOCTYPE html>
<html lang='en'>
  <head>
    <title></title>
    <meta charset='UTF-8'>
    <meta name="viewport" content='width=device-width, initial-scale=1.0'>
    
    <!-- Linking for the heart icon to work-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Getting the montserrat font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- A makeshit favicon I made -->
    <link href="{{url_for('static', filename='favicon.ico')}}" rel="shortcut icon" type="image/x-icon" />
    
    <!-- Linking style sheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='noHeader_style.css')}}" />

  </head>
  <body>    
    <div id='apodContainer'>
      <img id='apodImg' src='{{imgSrc}}'/>
    </div>
    <div id='explanationContainer'>
      <h2 id='apodTitle'>{{imgTitle}}</h2>
      <p id='explanation'>{{imgExplanation}}</p>
  </div>
  </body>
</html>